
#Denmark{
  margin-top: 10px;
  padding-left: 5px;
  padding-right:5px;
  height: 60px;
  width: 60px;
  position: relative;
  bottom: 6px;
  left: -12px;
}

  div:nth-child(1) {
  display: grid;
   background-color: red;
   width: 60px;
   height: 60px;
   position:fixed;
   top: 140px ;
   left: 5px;
  }

 	div:nth-child(2) {
 	display: grid;
 	 background-color: red;
 	 width: 90px;
 	 height: 60px;
 	 position:fixed;
 	 top: 206px;
 	 left: 85px;
 	
	}

	div:nth-child(3) {
 	display: grid;
 	 background-color: red;
 	 width: 90px;
 	 height: 60px;
 	 position:fixed;
 	 top: 140px;
 	 left: 85px;
 	 
	}
body {background-color: white;}

 	 

