
#Finland{
  margin-top: 10px;
  padding-left: 5px;
  padding-right:5px;
  height: 37px;
  width: 40px;
  position: relative;
  bottom: 6px;
  left: -3px;
}

  div:nth-child(1) {
  display: grid;
   background-color: blue;
   width: 50px;
   height: 40px;
   position:fixed;
   top: 150px ;
   left: 5px;
  }

  div:nth-child(2) {
  display: grid;
   background-color: blue;
   width: 90px;
   height: 40px;
   position:fixed;
   top: 215px;
   left: 75px;
  
  }

  div:nth-child(3) {
  display: grid;
   background-color: blue;
   width: 90px;
   height: 40px;
   position:fixed;
   top: 150px;
   left: 75px;
   
  }

  div:  {
    display: grid;
   background-color: black;
   width: 50px;
   height: 40px;
   position:fixed;
   top: 300px ;
   left: 5px;
  }


 
 
body {background-color: white;}

   

